<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;" *ngFor="let p of produtos">
        <img src="{{p.img}}" class="card-img-top" alt="...">
        <div class="card-body  d-flex justify-content-be  tween flex-column">
          <h5 class="card-title">{{p.nome}}</h5>
          <h5 class="card-title">{{p.valor | currency : 'BRL'}}</h5>
          <p class="card-text">{{p.descricao}}</p>
          <a href="#" (click)="Comprar()" class="btn btn-primary container-fluid">Comprar feijao carioca</a>
        </div>
</div>
</div>
      

