<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/feijao.jpg" class="card-img-top" alt="...">
        <div class="card-body  d-flex justify-content-between flex-column">
          <h5 class="card-title">Feijão carioca Kicaldo 1kg</h5>
          <p class="card-text">O feijão carioca da Kicaldo é a melhor opção para acompanhar o arroz, tornando a refeição do brasileiro ainda mais saborosa e saudável.</p>
          <a href="#" (click)="Comprar()" class="btn btn-primary container-fluid">Comprar feijao carioca</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/arroz.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between flex-column">
          <h5 class="card-title">Arroz Parborizado Tipo 1 Camil 1kg</h5>
          <p class="card-text">O arroz parboilizado passa por um processo que cozinha o grão dentro da sua própria casca, utilizando apenas água e calor, sem adição de produtos</p>
          <a href="#"  (click)="Comprar()" class="btn btn-primary container-fluid">Comprar arroz Parborizado</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/oleo.jpg" class="card-img-top" alt="...">
        <div class="card-body  d-flex justify-content-between flex-column">
          <h5 class="card-title">Óleo de Soja Soya Pet 900ml</h5>
          <p class="card-text">O óleo de soja Soya é um item culinário que já se tornou tradição nos lares brasileiros. Ele está presente na preparação das principais refeições do cotidiano, doces e salgadas.</p>
          <a href="#" (click)="Comprar()" class="btn btn-primary container-fluid">Comprar oleo de soja Soya</a>
        </div>
      </div>
</div>
